{% schema %}
{
  "name": "Blog Grid",
  "settings": [
    {
      "type": "post_list",
      "id": "post_list",
      "label": "Blog posts"
    }
  ],
  "presets": [{"name": "Default"}]
}
{% endschema %}

<section class="blog-grid">
  {% for post in section.settings.post_list %}
    <div class="blog-post">
      <a href="{{ post.url }}">
        <img src="{{ post.image | image_url: width: 400 }}" alt="{{ post.title | escape }}">
        <h3>{{ post.title }}</h3>
        <time datetime="{{ post.published_at | date_to_xmlschema }}">{{ post.published_at | date: '%B %d, %Y' }}</time>
      </a>
    </div>
  {% endfor %}
</section>