<section class="collection-hero" aria-label="{{ section.settings.title | t }}">
  <div class="container">
    <div class="grid">
      <div class="image">
        <img src="{{ section.settings.image | image_url: width: 1200 | imgix_auto }}" alt="{{ section.settings.title | t }}">
      </div>
      <div class="text">
        <h2>{{ section.settings.title | escape }}</h2>
        <p>{{ section.settings.description | escape }}</p>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Collection Hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Collection image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Collection title"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Collection description"
    }
  ],
  "presets": [
    {
      "name": "Collection Hero"
    }
  ],
  "default_settings": {}
}
{% endschema %}