<!-- sections/collection-hero.liquid -->

<div class="collection-hero" role="img" aria-label="{{ 'collection_hero' | t }}">
  <img src="{{ settings.image | img_url: '1x' }}" alt="{{ settings.heading | escape }}" style="width: 100%; height: auto;" role="img" aria-label="{{ settings.heading | t }}">
  <h2>{{ settings.heading | escape }}</h2>
  <p>{{ settings.subheading | escape }}</p>
</div>

{% schema %}
{
  "name":"collection-hero",
  "settings":[
    {
      "type":"image_picker",
      "id":"image",
      "label":"Collection image"
    },
    {
      "type":"text",
      "id":"heading",
      "label":"Heading"
    },
    {
      "type":"text",
      "id":"subheading",
      "label":"Subheading"
    }
  ],
  "presets":[]
}
{% endschema %}