{% schema %}
{
  "name": "Collection Filter",
  "settings": [
    {
      "type": "link_list",
      "id": "filter",
      "label": "Filter options",
      "default": "main-menu"
    },
    {
      "type": "range",
      "id": "sort_by",
      "min": 1,
      "max": 5,
      "step": 1,
      "unit": "",
      "label": "Sort by",
      "default": 1
    }
  ],
  "presets": [
    {"name": "Default"}
  ],
  "sections": [],
  "blocks": [],
  "default_settings": {}
}{% endschema %}

<div class="collection-filter">
  <label>
    {{ 'collection.filter' | t }}
  </label>
  <select id="filter" name="filter">
    {% for option in settings.filter %}
      <option value="{{ option }}"{% if option == settings.filter | first %} selected{% endif %}>{% if option == 'main-menu' %}{{ 'collection.main-menu' | t }}{% else %}{{ option | escape }}{% endif %}</option>
    {% endfor %}
  </select>
  <label>
    {{ 'collection.sort_by' | t }}
  </label>
  <select id="sort_by" name="sort_by">
    {% for i in 1..5 %}
      <option value="{{ i }}"{% if i == settings.sort_by %} selected{% endif %}>{% if i == 1 %}{{ 'collection.newest' | t }}{% elsif i == 2 %}{{ 'collection.price_low_to_high' | t }}{% elsif i == 3 %}{{ 'collection.price_high_to_low' | t }}{% elsif i == 4 %}{{ 'collection.title_az' | t }}{% elsif i == 5 %}{{ 'collection.title_za' | t }}{% endif %}</option>
    {% endfor %}
  </select>
</div>
