<section class="collection-grid"><div class="collection-grid__wrapper">\
<div class="collection-grid__item">\
<img class="collection-grid__item__image" src="{{ product.image.src | image_url: width: 400 | alt: 'Product image' }}" alt="{{ product.image.alt }}"/>\
<p class="collection-grid__item__title">{{ product.title }}</p>\
<p class="collection-grid__item__price">{{ product.price | money }}</p>\
</div>\
{% for product in section.settings.products %>\
<div class="collection-grid__item">\
<img class="collection-grid__item__image" src="{{ product.image.src | image_url: width: 400 | alt: 'Product image' }}" alt="{{ product.image.alt }}"/>\
<p class="collection-grid__item__title">{{ product.title }}</p>\
<p class="collection-grid__item__price">{{ product.price | money }}</p>\
</div>\
{% endfor %>\
</div></section>{% schema %}{\
  "name": "Collection Grid",\
  "settings": [\
    { "type": "product_picker", "id": "products", "label": "Products", "default": "products" }\
  ],\
  "blocks": [\
    { "type": "product-grid-item", "name": "Product Grid Item", "settings": [\
      { "type": "product_picker", "id": "product", "label": "Product" }\
    ] }\
  ],\
  "presets": [ { "name": "Collection Grid" } ]\
}{% endschema %}