<section class="o-collection-grid" aria-label="{{ 'collection-grid.aria-label' | t }}">
  <div class="o-collection-grid__inner">
    <div class="o-collection-grid__items">
      {% for product in section.settings.products.limit(20) %}
        <div class="o-collection-grid__item">
          <a class="o-collection-grid__item-link" href="{{ product.url | escape }}" title="{{ product.title | escape }}">
            <img class="o-collection-grid__item-image" src="{{ product.image | image_url: width: 400 | alt: product.title | escape }}" alt="{{ product.title | escape }}"
              lazyload lazyload-background lazyload-center lazyload-cover width="100%" height="100%" loading="lazy">
          </a>
          <div class="o-collection-grid__item-info">
            <h2 class="o-collection-grid__item-title"><a href="{{ product.url | escape }}" title="{{ product.title | escape }}">{{ product.title | escape }}</a></h2>
            <p class="o-collection-grid__item-price">{{ product.price | money | escape }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Collection Grid",
  "settings": [
    {
      "type": "product_list",
      "id": "products",
      "label": "Collection products"
    }
  ],
  "presets": [
    {
      "name": "Default"
    }
  ],
  "blocks": [],
  "responsive_notes": "Grid 3x3 on desktop, 2x2 on tablet, 1x1 on mobile"
}
{% endschema %}