{% schema %}
{
  'name': 'product_grid',
  'settings': [
    {
      'type': 'text',
      'id': 'rows',
      'label': 'Rows',
      'default': 3
    },
    {
      'type': 'text',
      'id': 'columns',
      'label': 'Columns',
      'default': 4
    }
  ],
  'presets': [
    {
      'name': 'Default',
      'settings': {
        'rows': 3,
        'columns': 4
      }
    }
  ]
}
{% endschema %}
<div class="grid grid-cols-4 gap-4 mb-8 lg:grid-cols-{{ settings.columns }} md:grid-cols-{{ settings.columns }} sm:grid-cols-1">
  {% for product in collection.products limit: settings.rows * settings.columns %}
    <div class="bg-secondary p-4 rounded shadow-sm">
      <h3>{{ product.title }}</h3>
      <img src="{{ product.image | img_url: 'master' }}" alt="{{ product.title }}">
      <span class="text-lg">{{ product.price | money }}</span>
    </div>
  {% endfor %}
</div>